.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rbg(71, 71, 71);
  margin: 20px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 60px;
}
